/* Estilos globais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/roma.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* A altura mínima é 100% da viewport */
}

/* Header */
h1 {
    margin: 0;
    font-size: 15em;
    color: #f1f1f1;
}

h2 {
    font-weight: 100;
    position: relative;
    margin: 0;
    font-size: 2.57em;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);
}

nav {
    margin-top: 20px;
    position: relative; /* Remover absolute para não interferir no layout */
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 15px;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    flex: 1; /* Faz o conteúdo principal expandir para preencher o espaço */
    margin-top: 120px;
    padding: 20px;
}

main ul{

    font:bold;
    color: #ffffff;
    font-weight: 10;
   
    background-color: #00000068;
    border-width: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);

    text-align: left;
}

main h4{
    
    font-size: 5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);

}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.517);
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffffff;
}

/* Footer */
footer {
    background-color: #00000051;
    text-align: center;
    color: white;
    padding: 20px;
    width: 100%;
    /* Utilizamos 'relative' agora que o layout flex cuida da posição */
    position: relative;
}

footer p {
    color: #ffffffba;
}
