* {
    margin: 0;  
    padding: 0;  
    box-sizing: border-box; 
}

body {
    margin: 0;
    position: relative; 
    font-family: Arial, sans-serif;
    background: url('images/coliseu.webp') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(0px);
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}

header {
    position: fixed; /* O cabeçalho ficará fixo */
    background-color: #00000078;
    top: 0;
    left: 0;
    right: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
    padding: 10px 20px;
    z-index: 1000; 
}

nav {
    display: flex;
}

nav a {
    padding: 20px; 
    text-decoration: none; 
    color: white; 
}

nav a:link {
    color: white; 
}

nav a:visited {
    color: #B2B2B2; 
}

nav a:hover {
    color: #000dff; 
}

nav a:active {
    color: #000dff; 
}

nav a:last-child {
    background-color: #ffffff87; 
    border-radius: 25%;
}

main {
    padding-top: 80px; /* Espaço para evitar que o conteúdo fique atrás do cabeçalho */
}

section {
    padding: 50px 20px;
    margin: 20px 0;
    z-index: 0;
    scroll-margin-top: 80px;
}

section h2 {
    margin: 0 0 20px;
}

article {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100vw; /* Corrigido para ocupar toda a largura da viewport */
    height: auto; 
    margin-bottom: 200px; 
}

article div {
    max-width: 600px; /* Mantido para o conteúdo textual */
}

article h2 {
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6); 
}

article p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: center;

}

.artigo-separado {
    margin: 0; 
    width: 100vw; /* Ocupa toda a largura da viewport */
}

.imagem-artista {
    position: relative;
    width: 100vw; /* Ocupa toda a largura da viewport */
    height: 100vh; /* Ocupa toda a altura da viewport */
    overflow: hidden;
}

.imagem-artista img {
    width: 100%; /* A imagem ocupará 100% da largura disponível */
    height: 100%; /* A imagem ocupará 100% da altura disponível */
    object-fit: cover; /* A imagem será cortada para preencher o contêiner */
}

.fotografo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.fotografo a {
    color: white;
    text-decoration: none;
}

#cidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    gap: 20px;
}

.image-box {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    height: 150px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.image-box img {
    width: 50%;
    height: auto;
}

.image-box p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex: 1;
    background-color: #f5f5f5;
    color: black;
}
