/* Estilos base */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background: url('images/coliseu.webp') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(0px);
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

* {
    position: relative;
    z-index: 2; 
}

h1 {
    margin-top: 13;
    margin-bottom: 0;
    font-size: 5em;
    color: #f1f1f1;
    text-align: center;
}

main {
    flex: 1;
    margin-top: 120px;
}

/* Media Queries */

/* Mobile Portrait */
@media (max-width: 480px) {
    h1 {
        font-size: 3em;
    }

    nav {
        font-size: smaller;
    }

    .pontos {
        flex-direction: column; /* Empilha as boxes verticalmente */
        align-items: center; /* Centraliza as boxes */
    }

    .image-box1, .image-box2 {
        width: 100%; /* A largura máxima é 100% */
    }

    footer {
        padding: 10px;
    }
}

/* Mobile Landscape */
@media (min-width: 481px) and (max-width: 767px) {
    h1 {
        font-size: 4em;
    }

    nav {
        font-size: medium;
    }

    .pontos {
        flex-direction: row; /* Mantém as boxes em linha */
        flex-wrap: wrap; /* Permite que as boxes se movam para a linha seguinte */
    }

    .image-box1, .image-box2 {
        width: 48%; /* Quase 50% da largura */
    }

    footer {
        padding: 15px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 4.5em;
    }

    nav {
        font-size: large;
    }

    .pontos {
        justify-content: space-around; /* Espaçamento uniforme */
    }

    .image-box1, .image-box2 {
        width: 30%; /* 30% da largura para 3 boxes na linha */
    }

    footer {
        padding: 20px;
    }
}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1440px) {
    h1 {
        font-size: 5em;
    }

    nav {
        font-size: larger;
    }

    .pontos {
        justify-content: space-between; /* Espaçamento entre as boxes */
    }

    .image-box1, .image-box2 {
        width: 22%; /* 22% da largura para 4 boxes na linha */
    }

    footer {
        padding: 25px;
    }
}

/* 4K */
@media (min-width: 1441px) {
    h1 {
        font-size: 6em;
    }

    nav {
        font-size: x-large;
    }

    .pontos {
        justify-content: space-around;
    }

    .image-box1, .image-box2 {
        width: 20%; /* 20% da largura para 5 boxes na linha */
    }

    footer {
        padding: 30px;
    }
}
