

@media (max-width: 900px) {
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 20%;
    }

    header{
        padding-top: 10% ;
        font-size: xx-small;



    }

    h1 {
        
        margin-top: 30%;
        
    }

    h3 {
        margin-top: auto;
        
    }

    h4 {
        font-size: xx-small;  
    }

    .restaurantes{
        margin-top: 70%;
        width: 220px;
        height: 220px;
        font-size: xx-small;
    }

    .dropdown {
        display: inline-block; 
    }
}



/* Laptop */
@media (min-width: 901px) and (max-width: 1440px) {
    h1 {
        font-size: 5em;
    }

    nav {
        font-size: larger;
    }

    .boxes-list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .image-box1 {
        width: calc(25% - 2%); 
        margin: 1%;
    }

    footer {
        padding: 25px;
        grid-area: footer;
        text-align: center;
    }
}

/* 4K */
@media (min-width: 1441px) {
    h1 {
        font-size: 6em;
    }

    nav {
        font-size: x-large;
    }

    .boxes-list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    .image-box1 {
        width: calc(20% - 2%); 
        margin: 1%;
    }

    footer {
        padding: 30px;
        grid-area: footer;
        text-align: center;
    }
}
