body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('images/coliseu.webp') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(0px);
    overflow-x: hidden; 

}

header{

   
    flex-wrap: wrap;
    
    text-align: center;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}

* {
    position: relative;
    z-index: 2; 
}


h1 {
    margin-top: 13;
    margin-bottom: 0;
    font-size: 5em;
    color: #f1f1f1;
    text-align: center;
}


h2 {
    font-weight: 100;
    position: relative;
    margin-top: 2;
    margin: 0;
    margin-left: 10px;
    font-size: 1.57em;
    text-align: center;
    color: #ffffff;

    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5), 0 0 15px rgba(0, 0, 0, 0.6); 
}

nav {
    position: absolute;
    top: 0;
    right: 0; 
    font-size: larger;
    margin: 20px; 
}

nav a {

    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.696); 
    margin-right: 15px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 100; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6); 
}

nav a:hover {
    text-decoration: double;
    color:  #ffffff;
    background-color: #00000000;
    border: #0263ff 5px solid;
}


.white {
    color: rgba(255, 255, 255, 0.692);
    font-weight: 30;
}

main {
    
    flex: 1; 
    margin-top: 120px; 

}

footer {
    background-color: #2424247d;
    padding: 20px;
    text-align: center;
}

footer p{

    color:#f1f1f1;

}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    justify-content: center; 
}

footer ul li {
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0; 
}

footer ul a {
    font-size: large;
    color: rgba(255, 255, 255, 0.692);
    font-weight: 900;}

footer ul a:hover {
    text-decoration: double;
    background-color:#0263ff;
}


/* Página Localização */

.map-container {
    margin: 20px auto;
    max-width: 100%;
    text-align: center;
}

.map-container iframe {
    border: none; 
    width: 100vw; 
    height: 600px; 
}

/* Página Multimedia*/

.galeria { 
    background-color: #ffffffd1;
    padding: 10%;
    border-top: #0263ff 50px solid;
    border-bottom: #0263ff 50px solid;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100vw; 
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0;
    position: relative;
}

iframe {
    display: block;
    margin: 20px auto;
    width: 35vw;
    height: 400px;
    border: 2px solid #ffffff45;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: -1;
}



.imagens-pequenas a { 
    display: inline-block;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-right: auto;
}

iframe img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.multi-texto{
    color:#f1f1f1;
    font-weight: 500;
}

h3{
    color:#0263ff;
    font-weight: 800;
    text-align: center;
}

.centralizar-texto {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 0 auto;
    padding: 20px;  
    max-width: 600px;
    border: 1px solid #ccc; 
    background: rgba(255, 255, 255, 0.499); 
    border-radius: 10px; 
}

.menu-secundario {
    position: absolute;
    top: -5; 
    left: 0; 
    padding: 10px; 
}

.menu-secundario a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold; 
    padding: 5px; 
}

.menu-secundario a:hover {
    color: #0263ff; 
}

/* Página Informações*/

main ul{

    font:bold;
    color: #ffffff;
    font-weight: 10;
   
    background-color: #00000068;
    border-width: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);

    margin-top: 20px;
    text-align: left;
    padding: 20;
    border-radius: 20px;
}

main h4{
    
    color: #ffffff;
    font-weight: 100;
    font-size: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);

}


table {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-weight: 200;
    background-color: #f1f1f170;

}

th, td {
    border: 2px solid #00000045;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0263ff00;
    color: #ffffff;
}


/* Página QUIZZ*/

.inline-group {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-bottom: 10px;
}

.inline-group label {
    margin-right: 20px; 
    color: #ffffff;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    max-width: 100vw;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 550px; 
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    overflow: hidden; 
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="range"],
input[type="color"],
textarea,
select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    box-sizing: border-box; 
}

textarea {
    height: 100px; 
}

input[type="submit"],
input[type="reset"] {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2e394c;
}

fieldset {
    border: 1px solid #ffffffae;
    padding: 10px;
    margin: auto;
}

legend {
    color: #ffffff;
    margin-bottom: 10px;
}

label {
    color: #ffffff;
    margin-bottom: 5px;
}



/* Página Viagem*/

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

form {
    margin: auto;
    padding: 10px;
    width: 550px;
    background-color: #000c47;
    border: 1px solid #ffffff;
}

fieldset {
    border: 1px solid #ffffffae;
    padding: 10px; 
    margin: auto;
}

legend {
    color: #00fffb;
    margin-bottom: 10px; 
}

label {
    color: #ffffff;
    display: block;
    margin-bottom: 5px; 
}

input[type="text"], input[type="email"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}

.servico-opcoes {
    display: flex;
    margin-bottom: 15px; 
}

.servico-opcoes input[type="radio"] {
    margin-right: 10px;
}

.servico-opcoes label {
    margin-right: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    box-sizing: border-box; 
}


input[type="submit"], input[type="reset"] {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px; 
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #002766;
}

/* Página pontos de Interesse_________________________________________________*/

.pontos {
    position: relative;
    top: 100px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 5px;
    margin-bottom: 30%;
    background-color: #ffffff;
}

.pontos > div { 
    flex-grow: 1; 
    margin: 10px; 
}

.overlay-text {
    font-weight: lighter;
    position: absolute;
    align-items: center;
    top: -80px; 
    left: 15px; 
    font-size: 24px; 
    color: white;
    padding: 10px;
    border-radius: 15px;
    z-index: 10;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);
}

.image-box1 {
    position: relative;
    width: 200px; 
    height: 150px; 
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 10px;
}

.image-box1 img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.image-box1 p {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
    box-sizing: border-box;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.599), 0 0 15px rgba(0, 0, 0, 0.6);
}

.image-box1 p:hover {
    color: #000000;
    background-color: #ffffff;
}

.restaurantes {

    background-color: #8f0000;
    border: #936700 10px solid;
    padding: 20px;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    margin: 90px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    margin: 50% auto;
}

.restaurantes h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
    position: relative;
    top: -90px; 
}

.restaurantes ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
}

.restaurantes li:hover {
    background-color: #003f0a;
}

.restaurantes li {
    margin: 10px 0;
    font-size: 1.2em;
    transition: color 0.3s;
    list-style-type: upper-roman;
    top: -40px; 
}

.restaurantes li:nth-child(even) {
    color: #ffffff;
    font-weight: lighter;
}

.restaurantes li:nth-child(odd) {
    color: #828282;
    font-weight: lighter;
}

.monumentos {
    background-color: #ffffff;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 20%;
}

.monumentos h2 {
    color: #000000;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
}

.monumentos ol {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding: 0; 
    list-style-type: none; 
    max-width: 100%; 
}

.monumentos ol li {
    position: relative; 
    flex: 1 1 300px; 
    margin: 10px; 
    display: flex; 
    justify-content: center; 
}

.monumentos ol li::before {
    content: counter(list, upper-roman) "."; 
    position: absolute; 
    top: -20px; 
    font-size: 20px; 
    color: black; 
    font-weight: lighter; 
}

.boxes-list {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding: 0; 
    list-style-type: none; 
    max-width: 100%; 
    counter-reset: list;
}

.boxes-list li {
    margin: 10px; 
    flex: 1 1 300px; 
    counter-increment: list;
}

.image-box2 {
    position: relative; 
    width: 100%; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 10px; 
}

.image-box2 img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.image-box2 p {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    color: white; 
    text-align: center; 
    padding: 10px; 
    font-size: 18px; 
    font-weight: lighter; 
    box-sizing: border-box; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.599), 0 0 15px rgba(0, 0, 0, 0.6); 
}

.image-box2 p:hover {
    color: #000000;
    background-color: #ffffff;
}

.locais {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 20%;
}

.locais h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
    position: relative;
    top: -6px; 
    font-size: 30px;
}

.image-box3 {
    position: relative; 
    width: 100%; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 10px; 
}

.image-box3 img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.image-box3 p {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    color: white; 
    text-align: center; 
    padding: 10px; 
    font-size: 18px; 
    font-weight: lighter; 
    box-sizing: border-box; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.599), 0 0 15px rgba(0, 0, 0, 0.6); 
}

.image-box3 p:hover {
    color: #000000;
    background-color: #ffffff;
}

.google-maps {
    width: 100%;  
    max-width: 90vw; 
    height: 600px;
    border: 0; 
    margin-bottom: 20%;
}

.melhor-altura-visitar table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    background-color: #faf3e0;
    border: 1px solid #bdb76b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.melhor-altura-visitar thead th {
    background-color: #8b4513;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.melhor-altura-visitar tbody td {
    padding: 10px;
    border-bottom: 1px solid #bdb76b;
    text-align: left;
    font-size: 14px;
}

.melhor-altura-visitar tbody tr:nth-child(odd) {
    background-color: #f5e4c1;
}

.melhor-altura-visitar tbody tr:nth-child(even) {
    background-color: #f9f1db;
}

.melhor-altura-visitar tbody tr:hover {
    background-color: #e6d3a3;
}